/* Styles for the Navigatio */

nav {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    border-bottom: 1px solid grey;
}

nav ul {
    display: flex;
    gap:1rem;
    justify-content: flex-end;
    list-style-type: none;
    padding-inline:2rem;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}